<h1> Sign up</h1>
<br></br>
<form action='/users' method='POST'>
  <label for='name'>
    <h2> Name:</h2>
    <input type='text' name='name' value='<%= @user.name %>' required>
  </label>
  <label for='email'>
    <h2> Email: </h2>
    <input type='email' name='email' value='<%= @user.email %>' required >
  </label>
  <label for='password'>
    <h2> Password: </h2>
    <input type='password' name='password' />
  </label>
  <label for='password_conf'>
    <h2> Password: </h2>
    <input type='password' name='password_confirmation' />
  </label>
  <input type='submit' value='Sign up'>
</form>
