<h1> Add a new link </h1>
<br></br>
<form action='/links' method='POST'>
  <label for='title'>
    <h2> Title: </h2>
    <input type='text' name='title' />
  </label>
  <label for='url'>
    <h2> URL: </h2>
    <input type='text' name='url' />
  </label>
  <label for='tags'>
    <h2> Tag: </h2>
    <input type='text' name='tags' />
  </label>
  <input type='submit' value='Create link'>
</form>
